* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

:root {
  --light: #fff;
  --dark: #383c44;
  --dark-hover: #494d55;
  --paragraph: #999999;
  --grey: #f2f3f4;
  --grey-1: #dfe0e1;
  --blue: #7bd3ea;
  --blue-dark: #5ba9bd;
  --red: #f1a1a1;
  --green: #a1eebd;
  --yellow: #f9cf73;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

html,
body {
  background: var(--grey);
  height: 100%;
}

body {
  font-size: 100%;
}

h1 {
  color: var(--dark);
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}
p {
  font-size: 0.8em;
  color: var(--paragraph);
}

button {
  cursor: pointer;
}

.btn {
  transition: all 0.2s ease;
  &:hover {
    transform: translateY(-5px);
  }
}
