.App {
  padding-left: 17vw;
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--light);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    .navbar-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
    }
    h1 {
      font-size: 1.5rem;
    }
    .nav-item {
      width: 100%;
      text-decoration: none;
      padding: 0.5rem;
      border-radius: 5px;
      &:hover {
        background: #e6e6e6;
      }
      .icon {
        margin-right: 1rem;
      }
    }
  }
}
