.notification {
  height: 100%;
  min-width: 25rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--tasks-background);
  box-shadow: var(--box-shadow);
  padding: 2rem 0;
}
.notification .notification-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.notification .notification-container .notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.notification .notification-container .notification-header button {
  width: 20px;
  height: 20px;
  border: 0;
  background: 0;
  color: var(--header);
}
.notification .notification-container .notification-nav {
  display: flex;
  border-bottom: 1px solid var(--grey-1);
  gap: 2rem;
  padding: 0 2rem;
  padding-top: 1rem;
}
.notification .notification-container .notification-nav button {
  background: 0;
  border: 0;
  cursor: pointer;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1em;
  color: var(--header);
}
.notification .notification-container .notification-nav button .notification-count {
  color: var(--main-background);
  background: var(--paragraph);
  padding: 0 0.5rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.75rem;
}
.notification .notification-container .notification-nav .active {
  border-bottom: 2px solid var(--blue);
}
.notification .notification-container .today-tasks .dot {
  background: var(--green);
}
.notification .notification-container .upcoming-tasks .dot {
  background: var(--blue);
}
.notification .notification-container .overdue-tasks .dot {
  background: var(--red);
}
.notification .notification-container .notification-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--grey-1);
  transition: 0.1s ease-in;
  color: var(--header);
}
.notification .notification-container .notification-item:hover {
  background: var(--grey);
  cursor: pointer;
}
.notification .notification-container .notification-item .notification-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.notification .notification-container .notification-item .notification-text .dot {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50px;
  margin-right: 1rem;
}
.notification .notification-container .notification-item .notification-text span {
  margin-right: 1px;
  font-weight: bold;
}
.notification .notification-container .notification-item p {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 1300px) {
  .notification {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }
}
@media only screen and (max-width: 480px) {
  .notification {
    min-width: 100%;
  }
}
@media only screen and (max-width: 370px) {
  .notification .notification-container .notification-nav {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grey-1);
    gap: 0.5rem;
    padding: 0 2rem;
    padding-top: 1rem;
  }
}/*# sourceMappingURL=notification.css.map */