.notification {
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--light);
  gap: 2rem;
  box-shadow: var(--box-shadow);
  padding: 2rem 0;
  .notification-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    h1 {
      margin-left: 2rem;
    }
    .notification-nav {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      border-bottom: 1px solid var(--grey-1);
      gap: 1rem;
      padding: 1rem 2rem;
      button {
        background: 0;
        border: 0;
        cursor: pointer;
      }
      .active {
        border-bottom: 2px solid var(--blue);
      }
    }
    .notification-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem 2rem;
      border-bottom: 1px solid var(--grey-1);
      h2 {
        display: flex;
        gap: 1rem;
        font-size: 0.9rem;
        span {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          div {
            transform: translateX(0.4px);
          }
        }
        .red {
          border: 2px solid var(--red);
          div {
            color: var(--red);
          }
        }
        .yellow {
          border: 2px solid var(--yellow);
          div {
            color: var(--yellow);
          }
        }
        .blue {
          border: 2px solid var(--blue);
          div {
            color: var(--blue);
          }
        }
      }
      p {
        margin-left: 2rem;
        font-size: 0.75rem;
      }
    }
  }
}
