.tasks-items {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  .tasks-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .confirm-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    .confirm-menu-container {
      background: var(--light);
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      border-radius: 15px;
      .confirm-menu-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        button {
          padding: 0.5rem 1rem;
          border-radius: 5px;
          font-weight: bold;
          &:first-child {
            background: var(--red);
            color: var(--light);
            border: 0;
          }
          &:last-child {
            background: 0;
            border: 1px solid var(--dark);
          }
        }
      }
    }
  }
  .search-bar {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 40px;
    grid-gap: 1rem;
    button,
    input {
      border-radius: 50px;
    }
    input {
      border: 1px solid var(--grey-1);
      background: var(--light);
      padding: 0 1rem;
    }
    .btn-container {
      button {
        border: none;
        background: var(--red);
        color: var(--light);
        font-weight: bold;
        width: 50%;
        justify-self: flex-end;
        cursor: pointer;
        &:first-child {
          background: none;
          border: 1px solid var(--dark);
          color: var(--dark);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
        }
      }
    }
  }
  .header {
    font-size: 1.5rem;
  }
}
