.task-item {
  position: relative;
  width: 20vw;
  height: 100%;
  block-size: -moz-fit-content;
  block-size: fit-content;
  background: var(--light);
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.task-item .tasks-item-content {
  width: 100%;
  block-size: -moz-fit-content;
  block-size: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.task-item .tasks-item-content .task-item-title {
  font-size: 1em;
  font-weight: bold;
}
.task-item .tasks-item-content .task-item-tags {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  position: relative;
}
.task-item .tasks-item-content .task-item-tags .task-item-tags-header {
  display: flex;
  align-items: center;
}
.task-item .tasks-item-content .task-item-tags .task-item-tags-header button {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid var(--paragraph);
  color: var(--paragraph);
  border-radius: 5px;
  margin-left: 0.5rem;
}
.task-item .tasks-item-content .task-item-tags .task-tags {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  flex-wrap: wrap;
}
.task-item .tasks-item-content .task-item-tags .task-tags div {
  padding: 0 0.5rem;
  border-radius: 5px;
}
.task-item .tasks-item-content .task-progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.task-item .tasks-item-content .task-progress .task-progress-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-item .tasks-item-content .task-progress .task-progress-bar {
  width: 100%;
  background: var(--grey);
  height: 10px;
  border-radius: 50px;
}
.task-item .tasks-item-content .task-progress .task-progress-bar div {
  height: 100%;
  background: var(--blue);
  border-radius: 50px;
}
.task-item .tasks-item-content .due-date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.task-item .tasks-item-content .due-date .icon {
  color: var(--paragraph);
}
.task-item .tasks-item-content .subtask-item {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.task-item .tasks-item-content .subtask-item p {
  margin: 0.25rem;
}
.task-item .edit-task {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-item .edit-task button {
  cursor: pointer;
  width: 15px;
  background: none;
  border: none;
}
.task-item .edit-task button:hover {
  transform: none;
}
.task-item .task-item-buttons {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: var(--light);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  z-index: 10;
}
.task-item .task-item-buttons button {
  background: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}
.task-item .project-image-container {
  width: 100%;
}
.task-item .project-image-container .project-image-overlay {
  position: absolute;
  width: 100%;
  max-width: 100%;
  background: black;
  z-index: 100;
}
.task-item .project-image-container img {
  position: relative;
  max-width: 100%;
  block-size: -moz-fit-content;
  block-size: fit-content;
  height: auto;
  border-radius: 15px;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  border: 1px solid var(--grey-1);
}
.task-item .done-btn {
  border: none;
  background: var(--green);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}/*# sourceMappingURL=taskitem.css.map */