.task-summary {
  width: 100%;
  padding: 1rem;
  padding-right: 3rem;
}
.task-summary h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.task-summary .task-summary-container {
  gap: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.task-summary .task-summary-container h2 {
  font-size: 1.2rem;
}
.task-summary .task-summary-container .tasks-list {
  width: 100%;
  height: 95vh;
  border: 1px solid var(--input-background);
  background: var(--tasks-background);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
  gap: 1rem;
}
.task-summary .task-summary-container .tasks-list h2 {
  margin-bottom: 1rem;
}
.task-summary .task-summary-container .tasks-list .calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--header);
}
.task-summary .task-summary-container .tasks-list .calendar-header .calendar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 16vw;
}
.task-summary .task-summary-container .tasks-list .calendar-header .calendar-nav h1 {
  margin: 0;
}
.task-summary .task-summary-container .tasks-list .calendar-header .calendar-nav button {
  background: var(--blue);
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: var(--light);
  border-radius: 5px;
}
.task-summary .task-summary-container .tasks-list .grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}
.task-summary .task-summary-container .tasks-list .grid .border {
  border: 1px solid var(--input-background);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 5.5vw;
  padding: 0.5rem;
}
.task-summary .task-summary-container .tasks-list .grid .weekdays {
  height: 2.5vw;
  align-items: center;
  justify-content: center;
  background: var(--main-background);
  font-weight: bold;
  color: var(--header);
}
.task-summary .task-summary-container .tasks-list .grid .today {
  background: var(--grey);
}
.task-summary .task-summary-container .summary-task-item {
  border: 1px solid var(--grey);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  block-size: -moz-fit-content;
  block-size: fit-content;
  transition: 0.1s ease-in;
}
.task-summary .task-summary-container .summary-task-item:hover {
  transform: translateY(-5px);
}
.task-summary .task-summary-container .summary-task-item .summary-title,
.task-summary .task-summary-container .summary-task-item p {
  color: var(--light);
}
.task-summary .task-summary-container .tasks-stats {
  display: flex;
  gap: 2rem;
}
.task-summary .task-summary-container .tasks-stats .tasks-stats-item p {
  font-size: 0.9rem;
}/*# sourceMappingURL=tasksummary.css.map */