.tags-menu {
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 15rem;
  max-width: 17rem;
  margin-left: 1rem;
  background: var(--tasks-background);
  border: 1px solid var(--grey);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  padding: 1rem;
  z-index: 999;
  .tags-menu-header {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tags-menu-header-text {
      text-align: right;
      color: var(--paragraph);
    }
    .close-btn {
      background: 0;
      border: none !important;
    }
    &::before {
      position: absolute;
      width: 100%;
      height: 1px;
      background: var(--grey-1);
      bottom: 0;
      left: 0;
      content: "";
    }
  }
  .tags-menu-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 100%;
    .tags-menu-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      .tags-menu-checkbox {
        cursor: pointer;
      }
      .tags-menu-name {
        border-radius: 5px;
        padding: 0.25rem 0.5rem;
        width: 100%;
      }
      button {
        border: 0 !important;
      }
    }
  }
  .tags-create-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    input,
    button {
      width: 100% !important;
      margin: 0 !important;
      background: var(--input-background);
      border-radius: 5px;
    }
    input {
      padding: 0.5rem;
      border: 1px solid var(--input-border);
      &:focus {
        outline: none;
      }
    }
    .create-tag-btn {
      cursor: pointer;
    }
    .tags-create-color {
      p {
        margin-bottom: 0.5rem;
      }
      .tags-color-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        .color-item {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 435px) {
  .tags-menu {
    transform: translateX(calc(100vw - 435px));
  }
}
